<div>
    <img class="image" src="../../assets/images/vegetarian-g248b31b6e_1920.jpg">
    <div>
        <div class=" first_row">
            <div>
                <h1>Superfood</h1>
                <img class="star_ico" src="../../assets/images/star.ico">
                <img class="star_ico" src="../../assets/images/star.ico">
                <img class="star_ico" src="../../assets/images/star.ico">
                <img class="star_ico" src="../../assets/images/star.ico">
                <img class="star_ico" src="../../assets/images/star.ico">
                <span>Bewertungen</span>
            </div>
        </div>
        <div class="second_row">
            <div>
                <img src="../../assets/images/clock.ico" alt=""> 30-45 Min

            </div>
            <div>
                <img src="../../assets/images/bike.ico" alt=""> 2.00€
            </div>
            <div>
                <img src="../../assets/images/shopping-bag.ico" alt=""> Min. 25€
            </div>
        </div>
        <div class="Menu_selection">
            <a class="circle" href="#salads">Salate</a>
            <a class="circle" href="#bowls">Bowls</a>
            <a class="circle" href="#desserts">Desserts</a>
            <a class="circle" href="#drinks">Drinks</a>
        </div>

    </div>

    <div id="salads" class="Selection_section">
        <img src="" alt="selection_img">
        <h2>Salate</h2>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Ex dolorem quas totam ratione pariatur et praesentium assumenda corrupti laudantium maiores quidem impedit, 
            cupiditate cumque alias unde error. Quos, cum inventore.
        </span>
    </div>

    <div class="Menu">
        <div class="menuname_plus_info">
            <h2>Menu Name</h2>
            <img src="../../assets/images/info.ico" alt="info">
            <div class="plus_sign">
                <img src="../../assets/images/plus.ico" alt="plus">
            </div>
        </div>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi nulla illum aliquid sed ratione,
             error qui esse obcaecati quod dolor est sunt quos fuga atque quisquam rem harum eligendi.
        </span>
        <span>15.50€</span>
    </div>


    <div class="Menu">
        <div class="menuname_plus_info">
            <h2>Menu Name</h2>
            <img src="../../assets/images/info.ico" alt="info">
            <div class="plus_sign">
                <img src="../../assets/images/plus.ico" alt="plus">
            </div>
        </div>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi nulla illum aliquid sed ratione,
             error qui esse obcaecati quod dolor est sunt quos fuga atque quisquam rem harum eligendi.
        </span>
        <span>15.50€</span>
    </div>

    <div class="Menu">
        <div class="menuname_plus_info">
            <h2>Menu Name</h2>
            <img src="../../assets/images/info.ico" alt="info">
            <div class="plus_sign">
                <img src="../../assets/images/plus.ico" alt="plus">
            </div>
        </div>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi nulla illum aliquid sed ratione,
             error qui esse obcaecati quod dolor est sunt quos fuga atque quisquam rem harum eligendi.
        </span>
        <span>15.50€</span>
    </div>

    <div id="bowls" class="Selection_section">
        <img src="" alt="selection_img">
        <h2>Bowls</h2>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Ex dolorem quas totam ratione pariatur et praesentium assumenda corrupti laudantium maiores quidem impedit, 
            cupiditate cumque alias unde error. Quos, cum inventore.
        </span>
    </div>

    <div class="Menu">
        <div class="menuname_plus_info">
            <h2>Menu Name</h2>
            <img src="../../assets/images/info.ico" alt="info">
            <div class="plus_sign">
                <img src="../../assets/images/plus.ico" alt="plus">
            </div>
        </div>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi nulla illum aliquid sed ratione,
             error qui esse obcaecati quod dolor est sunt quos fuga atque quisquam rem harum eligendi.
        </span>
        <span>15.50€</span>
    </div>

    <div class="Menu">
        <div class="menuname_plus_info">
            <h2>Menu Name</h2>
            <img src="../../assets/images/info.ico" alt="info">
            <div class="plus_sign">
                <img src="../../assets/images/plus.ico" alt="plus">
            </div>
        </div>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi nulla illum aliquid sed ratione,
             error qui esse obcaecati quod dolor est sunt quos fuga atque quisquam rem harum eligendi.
        </span>
        <span>15.50€</span>
    </div>

    <div class="Menu">
        <div class="menuname_plus_info">
            <h2>Menu Name</h2>
            <img src="../../assets/images/info.ico" alt="info">
            <div class="plus_sign">
                <img src="../../assets/images/plus.ico" alt="plus">
            </div>
        </div>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi nulla illum aliquid sed ratione,
             error qui esse obcaecati quod dolor est sunt quos fuga atque quisquam rem harum eligendi.
        </span>
        <span>15.50€</span>
    </div>

    <div id="drinks" class="Selection_section">
        <img src="" alt="selection_img">
        <h2>Drinks</h2>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Ex dolorem quas totam ratione pariatur et praesentium assumenda corrupti laudantium maiores quidem impedit, 
            cupiditate cumque alias unde error. Quos, cum inventore.
        </span>
    </div>

    <div class="Menu">
        <div class="menuname_plus_info">
            <h2>Menu Name</h2>
            <img src="../../assets/images/info.ico" alt="info">
            <div class="plus_sign">
                <img src="../../assets/images/plus.ico" alt="plus">
            </div>
        </div>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi nulla illum aliquid sed ratione,
             error qui esse obcaecati quod dolor est sunt quos fuga atque quisquam rem harum eligendi.
        </span>
        <span>15.50€</span>
    </div>

    <div class="Menu">
        <div class="menuname_plus_info">
            <h2>Menu Name</h2>
            <img src="../../assets/images/info.ico" alt="info">
            <div class="plus_sign">
                <img src="../../assets/images/plus.ico" alt="plus">
            </div>
        </div>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi nulla illum aliquid sed ratione,
             error qui esse obcaecati quod dolor est sunt quos fuga atque quisquam rem harum eligendi.
        </span>
        <span>15.50€</span>
    </div>

    <div class="Menu">
        <div class="menuname_plus_info">
            <h2>Menu Name</h2>
            <img src="../../assets/images/info.ico" alt="info">
            <div class="plus_sign">
                <img src="../../assets/images/plus.ico" alt="plus">
            </div>
        </div>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi nulla illum aliquid sed ratione,
             error qui esse obcaecati quod dolor est sunt quos fuga atque quisquam rem harum eligendi.
        </span>
        <span>15.50€</span>
    </div>

    <div id="desserts" class="Selection_section">
        <img src="" alt="selection_img">
        <h2>Desserts</h2>
        <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Ex dolorem quas totam ratione pariatur et praesentium assumenda corrupti laudantium maiores quidem impedit, 
            cupiditate cumque alias unde error. Quos, cum inventore.
        </span>
    </div>

    <div class="Menu">
        <div class="menuname_plus_info">
            <h2>Menu Name</h2>
            <img src="../../assets/images/info.ico" alt="info">
            <div class="plus_sign">
                <img src="../../assets/images/plus.ico" alt="plus">
            </div>
        </div>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur excepturi nulla illum aliquid sed ratione,
             error qui esse obcaecati quod dolor est sunt quos fuga atque quisquam rem harum eligendi.
        </span>
        <span>15.50€</span>
    </div>
</div>