<div>
    <img class="image" src="../../assets/images/vegetarian-g248b31b6e_1920.jpg">
    <div>
        <h1>Superfood</h1>
        <img src=""> <span>Bewertungen</span>
        <div>Zeit</div>
        <div>Lieferkosten</div>
        <div>Min. bestellwert</div>
        <div>
            Verschiedene Gericht arten
        </div>

    </div>

    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>